anthropic
openai
python-dotenv
requests

# 4.4 LangGraph 사용을 위한 의존성
langchain-openai
langgraph
langchain-core

# 5.4 ChromaDB 의존성
chromadb

# 5.6 SQLite Checkpointer
langgraph-checkpoint-sqlite

# 6 LangChain Structured Outputs
langchain_ollama

# 7 RAG
# langchain-openai # exist
# chromadb # exist
langchain-chroma 
langchain-text-splitters
langchain-community 

