anthropic
openai
python-dotenv
requests
voyageai

# 4 의존성
chromadb
langchain-anthropic
langchain-openai
langgraph
langchain-core
langchain-voyageai
langchain-chroma
langchain-text-splitters
langchain-community


# 4.5 SQLite Checkpointer
langgraph-checkpoint-sqlite

# 5 LangChain Structured Outputs
langchain_ollama
networkx

# 6 RAG
# langchain-openai # exist
# chromadb # exist
langchain-chroma 
langchain-text-splitters
langchain-community 

